<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A basic HTML table</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Age</th>
  </tr>
  {{ range .userdata }}
    <tr>
        <td>{{ .Username }}</td>
        <td>{{ .Password }}</td>
        <td>{{ .Email }}</td>
    </tr>
  {{ end }}
</table>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>